
.image {
  width: 100%;
  height: auto;
  border: 1px solid #aaa;
}

.li {
  width: 100%;
}

.title {
  margin: 5px 0;
  font-weight: 400;
}

.worksContainer {
  width: 80%;
  margin: 0 auto;
}

.worksUl {
  width: 100%;
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 100px;
  list-style: none;
}