.heroSectionContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.bigSquare,
.smallSquare {
  position: absolute;
}
.bigSquare {
  width: 500px;
  height: 700px;
  background-color: #000;
}

.greetContainer {
  width: 40%;
  padding: 20px 40px;
  // border: 1px solid #444;
}

.h1 {
  font-family: "Rubik Dirt", system-ui;
  font-size: 64px;
  font-weight: 400;

  &::first-letter {
    font-size: 96px;
  }
}

.imageContainer {
  width: 500px;
  height: 700px;
  margin-left: 100px;
  position: relative;
}

.smallSquare {
  width: 250px;
  height: 400px;
  background-color: #fff;
  mix-blend-mode: difference;
  bottom: 40px;
  left: -60px;
  transform: skew(15deg, -15deg);

  // &::after {
  //   content: '';
  //   width: 246px;
  //   height: 396px;
  //   background-color: #fff;
  //   left: 2px;
  //   top: 2px;
  //   position: absolute;
  //   display: block;
  // }
}
