.stackUl {
  display: grid;
  grid-template-columns: repeat(auto-fit, 130px);
  list-style: none;

  li {
    width: auto;
    height: auto;
    margin: 10px;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  }
}

.stacksUl {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 40px;
  list-style: none;

  @media (max-width: 1280px) {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    gap: 60px 40px;
  }

  @media (max-width: 866px) {
    grid-template-columns: 1fr;
  }
}

.title {
  margin-bottom: 20px;
  font-weight: 400;
}