
.profileContainer {
  display: flex;
  align-items: center;
  gap: 40px;

  .image {
    border: 5px solid #eee;
    border-radius: 50%;
  }

  p {
    color: #333;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 2px;
    text-shadow: 2px 2px 3px #777;
  }
}