.active {
  scale: 1.2;
}

.li {
  width: fit-content;
  margin: 10px 0;
  padding: 2px 1rem;
  font-size: 1.5rem;
  text-shadow: 3px 3px 1px #9c9c9c;
  transition: .1s ease-in-out;

  &:hover {
    translate: 3px 3px;
    text-shadow: 0 0 0 #838383;
  }
}

.navContainer {
  width: 200px;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: fixed;
  left: 1rem;
  bottom: 1rem;
}

.ul {
  font-family: "Rubik Dirt", system-ui;
  list-style: none;
}